/* App.css */
body,
.container {
  font-family: 'Nanum Gothic Coding', monospace;
  margin: 0;
  padding: 0;
  padding-left: 163px;
  padding-right: 163px;
  padding-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text h1 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 5px;
}

.logo-text h2 {
  font-size: 1.2em;
  font-weight: 500;
  color: #555;
  margin: 0;
}

/* Bio */
.bio-container {
  margin-top: 50px;
}

.bio-container h1 {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

.bio-container h2 {
  font-size: 2.5em;
  font-weight: bold;
  color: #555;
  margin: 0;
  margin-bottom: 30px;
}

/* Line above Social Links Container */
.line {
  width: 100%;
  border-top: 1.5px solid #ccc;
  margin-top: 30px;
  margin-bottom: 10px;
}

.social-links-container {
  margin-top: 30px;
}

.social-links a {
  text-decoration: none;
  font-size: 1em;
  color: #555;
  transition: font-size 0.5s ease, font-weight 0.5s ease;
  padding-bottom: 2px;
}

.social-links a:hover {
  font-size: 1.2em;
  font-weight: bold;
}

.social-links .separator {
  margin: 0 5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 5px;
}

/* Experience */
.experience-container {
  margin-top: 50px;
  color: #333;
}

.experience-details {
  font-size: 1em;
  font-weight: 515;
  color: #555;
}

.experience-dates {
  font-size: 1em;
  font-weight: 515;
  color: black;
}

.experience-line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

.experience-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.experience-row p {
  margin-right: 10px;
  color: #333;
  font-weight: 100;
  margin: 0;
}

.experience-details-space {
  margin-top: 20px;
  margin-bottom: 30px;
}

.experience-space,
.experience-more-space {
  margin-right: 50px;
  font-size: 1em;

}

a.experience-link {
  text-decoration: none;
  color: #555;
  transition: font-size 0.5s ease, font-weight 0.5s ease;
  padding-bottom: 2px;
  font-weight: normal;
}

a.experience-link:hover {
  font-size: 1.2em;
  font-weight: bold;
}

.experience-remote{
  margin-left: 100px;
}

/* Adjust the size and color of Ionicons */
i.ion {
  font-size: 24px;
}


.experience-pulse {
  width: 10px;
  height: 10px;
  background-color: #4CAF50; /* Green color */
  border-radius: 50%;
  display: inline-block;
  animation: pulse 1.5s infinite; /* Pulsing animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Selected Work */
.selected-work-container {
  margin-top: 50px;
  max-width: 100%;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change to a single column for smaller screens */
  gap: 20px; /* Adjust the gap between grid items as needed */
  
}

/* Grid Item */
.grid-item {
  text-decoration: none;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.grid-item img {
  max-width: 100%; 
  height: auto; 
}

.grid-item:hover {
  box-shadow: 0 0 10px rgba(139, 139, 139, 0.3); 
}

.small-container {
  position: relative;
  width: 100%;
  background-color: #ccc; /* Set background color to grey */
  margin-bottom: 20px; /* Add margin at the bottom of each grid item for spacing */
}

.description {
  font-size: 0.9em; /* Adjust the font size as needed */
  color: #555; /* Set the color for the description text */
  margin-top: 10px; /* Add margin top for spacing */
}

/* Label Box in Grid Item */
.label-box {
  margin-top: 15px; /* Adjust margin top for spacing */
}

.label {
  display: inline-block;
  background-color: white; /* Set background color for labels */
  color: black; /* Set text color for labels */
  padding: 5px 10px;
  margin-right: 10px; /* Adjust margin right for spacing between labels */
  border-radius: 50px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 14px;
}

/* Passion Projects */
.passion-projects-container {
  color: #333;
  margin-top: 50px; /* Adjust the margin-top as needed */
  margin-bottom: 30px; /* Adjust the margin-bottom as needed */
}

a {
  color: black;
  margin-right: 10px;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 600px) {
  body,
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .logo-text h1 {
    font-size: 1em;
    margin-bottom: 3px;
  }

  .logo-text h2 {
    font-size: 1em;
  }

  .bio-container {
    margin-top: 30px;
  }

  .bio-container h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .bio-container h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .social-links a {
    font-size: 0.9em;
  }

  .experience-container {
    margin-top: 30px;
  }

  .experience-row p {
    margin-right: 2px; /* Adjust margin for smaller screens */
  }

  .experience-space,
  .experience-more-space {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }

  .grid-container {
    grid-template-columns: 1fr; /* Change to a single column for smaller screens */
  }

  .grid-item {
    margin-bottom: 20px; /* Add margin at the bottom of each grid item for spacing */
  }

  
}
